@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0; 
    color: white;
}
body{
    background-color: black;
    font-family: "Comic Neue", cursive;
}

section{
    margin-bottom: 5%;
}

.burger_menu__click_menu{
    display: none;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}



.map_image{
    width: 90%;
}

.map_section__h1_map{
    padding-bottom: 10px;
}


.body__header {
    padding: 50px 0;
    filter: blur();
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 48px;
}
a{
  text-decoration: none;  
}
.nav__a {
    font-size: 48px;
    font-weight: bold;
}

.amulets__amulet_img{
    width: 75px;
    height: auto;
    transition: all 1s;
}

.amulets__amulet_img:hover{
    transform: rotate(360deg);
}

.main__resourses_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.main__section_header{
    background-image: url(images/background/hollowknight_background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    display: none;
}

.citation{
    position: absolute;
    z-index: 1000;
    font-size: 40px;
    font-weight: bold;
    top: 850px;
    left: 27%;
}

.main__map_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.main__amulets_section{
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.resourses_section__resourse{
    width: 100px;
}

.resourse_section__resourse_card{
    display: flex;
    gap: 10%;
    width: 30%;
    background-color: #171717;
    padding: 1%;
    border-radius: 20px;
}


h3{
    padding-bottom: 2%;
}

.main__bosses_section{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.boss_img{
    width: 200px;
}

.boss_card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: #171717;
    width: 35%;
    border-radius: 20px;
    padding: 20px;
}

.boss_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

footer{
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.footer_img{
    width: 50px;
    height: 50px;
    border-radius: 90px;
    transition: all 1s;
}

.footer_img:hover{
    transform: scale(1.3);
}

.footer_img:active{
    transform: scale(0.9);
}

.carousel_item__img{
    width: 100%;
}

.carousel__arrow1{
    position: absolute;
    left: 5%;
    top: 42%;
    z-index: 100;
}

.carousel__arrow2{
    position: absolute;
    right: 5%;
    top: 42%;
    z-index: 100;
}

.up_arrow{
    position: fixed;
    z-index: 1001;
    border-radius: 90%;
    width: 45px;
    right: 2%;
    top: 90%;

    transition: all 0.5s;
}

@media(max-width: 1024px){.boss_card{flex-direction: column;}}

@media(max-width: 768px){

    .main__resourses_section{
        gap: 50px;
    }

    .resourse_section__resourse_card{
        flex-direction: column;
        align-items: center;
        gap: 10%;
        text-align: center;
    }

    .citation{
        font-size: 20px;
        font-weight: bold;
        top: 430px;
        left: 22%;
    }

    .amulets_container{
        margin: 20px;
    }

    .nav__a, h1{
        font-size: 35px;
    }


    .amulets__amulet_img{
        width: 50px;
    }

    .boss_img{
        width: 150px;
    }
    
    .boss_card{
        
        width: 60%;
    }

    .footer_img{
        width: 35px;
        height: 35px;
    }

}



@media(max-width: 425px){

    .map_section__link{
        display: none;
    }
    .map_image{
        display: none;
    }   

    .main__map_section{
        gap: 15px;
    }

    .map_section__link{
        display: block;
    }

    .citation{
        font-size: 20px;
        font-weight: bold;
        top: 430px;
        left: 10%;
    }

    .main__section_header{
        display: block;
    }


    .resourse_section__resourse_card{
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 70%;
        gap: 10%;
        text-align: center;
    }

    .burger_menu__click_menu{
        background-color: black;
        position: absolute;
        left: 0;
        top: 0;
    }

    .main__section_header{
        background-image: url(images/background/hollowknight_background1.jpg);
        width: 100%;
    }

    .container{
        display: none;
    }

    .body__burger_menu{
        background-color: black;
        padding: 5px;
        z-index: 1000;
        width: 35px;
        height: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 5px;
        right: 5px;
        transition: all 0.35s;
    }

    .burger_menu__burger_div_1, .burger_menu__burger_div_2, .burger_menu__burger_div_3{
        width: 35px;
        height: 15%;
        background-color: white;
        transition: all 0.35s;
    }
    
    .burger_menu__click_menu{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80%;
        padding: 10% 10%;
        transform: translateX(-100%);
    }   

    .nav__a{
        text-align: center;
    }

    .carousel{
        display: none !important;
    }

    

}

/* https://kenwheeler.github.io/slick/ */